/node_modules
/public/hot
/public/storage
/storage/*.key
/app/Http/Livewire/**/*.old
/resources/views/*.old
/resources/views/layouts/*.old
/resources/views/Livewire/**/*.old
/resources/views/Livewire/**/**/*.old
/vendor
/database/edok.sql
.env
upload.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
